* {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.my-project {
    padding: 20px 5px;
}

.header-top {
    display : flex;
    align-items: center;
    justify-content: space-between;

}
.header-top-right ul li {
    list-style: none;
}
.header-top-right ul li a{  
    text-decoration: none;
    color: #787878;
}
.header-list {
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.header-list li {
    padding-left: 15px;
}
header {
    background-color: #f5f5f5;
    color: #787878;
    font-size: 13px;
    font-weight: 400;
}

.header-middle {
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.header-search {
    display : flex;
    align-items: center;
}
.header-icon {
    display: flex;
    margin-left: -20px;
}
.user-icon {
    width: calc(25%-5px);
    margin-left: 20px;
}
.user-icon {
    font-size: 20px;
}
.header-search-button input {
    padding: 16px 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #989898;
    padding-right: 45px;
}
.header-search-categories select {
    padding: 18px 20px;
    border: 1px solid #989898;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.header-search-button {
    position: relative;
}
.search-btn {
    padding: 15px 15px;
    background-color: #FE2424;
    border-radius: 25px;
    border: none;
    color: #ffff;
    position: absolute;
    top: 2px;
    right: 2px;
}
.desktop-menu {
    padding-block: 20px;
    border-top: 1px solid #989898;
}
.sale-info, .menu__item, .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item .menu__list {
    margin-right: 2.5rem;
}
.vetical-menu {
    background-color: #FE2424;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
}
.block-menu ul.menu__item {
    margin-bottom: 0;
}
.menu__item ul li a {
    font-size: 16px;
    color: #111;
}
.menu__item a:hover {
    color: #FE2424;
}
.sale-img {
    margin-right: 15px;
}
.sale-off .flash-sale {
    font-size: 18px;
    color: #ffc220;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 1px #111;
    -webkit-text-stroke: 1px #111;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.services-list, .home-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f8f9fa;
    margin-right: 5px;
}
.services-icon img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.services-text .free-ship {
    font-size: 14px;
    color: #111;
}
.services-text .free-ship-text {
    font-size: 14px;
    color: #9999;
}
.banner-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.block-content {
    padding: 10px 5px;
}
.smart-phone-list:hover {
    box-shadow: inset 0 0 10px #e5eaef;
}
.smart-phone-info {
    text-align: center;
}
.smart-phone-info .phone-title {
    color: #111;
    font-size: 14px;
}
.smart-phone-info .start-icon {
    font-size: 25px;
    color: #ffb400;
}
.smart-phone-info .phone-price {
    font-size: 16px;
    color: #111;
}
.block-filterproducts {
    padding: 15.5px 20px;
    border-bottom: 1px solid #eee;
}
.block-filterproducts .block-title-left {
    font-size: 24px;
    color: #111;
} 
.block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
}
.smart-phone-img img {
    width: 200px;
}
.smart-phone-list {
    padding: 20px;
}
.block-title-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-icon {
    width: 25px;
    height: 25px;
    position: relative;
    background-color: #f5f5f5;
    margin-right: 10px;
}

.back-icon span {
    position: absolute;
    top: -2px;
    right: 6px;
}

